*.lnk
*.suo
.vs/Aimtec Solutions/v15/Server/sqlite3/db.lock
*.ide
.vs/Aimtec Solutions/v15/Server/sqlite3/storage.ide-shm
*.ide-wal
*.user
*.sln
.vs/Aimtec Solutions/DesignTimeBuild/.dtbcache
.vs/Entropy Solutions/v15/Server/sqlite3/db.lock
.vs/Entropy Solutions/v15/Server/sqlite3/storage.ide-shm
